<%= flash[:success] %>
<br><br>
Search
<%= form_with url: '/advance_change', method: :post, data: {turbo: false} do |f| %>
  <%= f.text_field :code %>
<% end %>

<br><br>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>
  <% @tw_class.each do |tw_class| %>
    <tr>
      <td class="px-5"><%= tw_class[0] %></td>
      <td class="px-5"><%= tw_class[1] %></td>
    </tr>
  <% end %>
</table>

<br><br>
<% @tw_class.each { |m| @text.gsub!(m[0], m[1]) if m[0].present? && m[1].present? } %>
<%= form_with url: '#' do |f| %>
<%= f.text_area :code, value: @text, class: 'w-full' %>
<% end %>

<br><br>
<%= form_with url: '/tw-class/new', method: :post do |new_f| %>
  <%= new_f.text_field :code %>
  <%= new_f.text_field :tw_class %>
  <%= new_f.submit %>
<% end %>