<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body>
  <main>
    <%= render 'topbar' %>
    <%= render 'sidebar' %>

    <div class="p-4 sm:ml-52">
      <div class="p-4 mt-14">
        <%= yield %>
      </div>
    </div>
  </main>
  </body>
</html>
